.rides span{
  font-weight: bold;
}
.myRides {
  display: none;
}
em {
  color: lime;
}

 /*#short {
   display: none;
 }
 #middle {
   display: none;
 }
 #tall {
   display: none;
 }*/

.rideable{
 background-color: lime;
 }
